
.header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 35px 60px;
  z-index: 100;
  flex-grow: 1 0 auto;
}

.header__inner {
  display: inline-block;
  width: 100%;
}

.header__icons {
  width: 100%;
}

.icon {
  float: right;
  margin: auto 0 45px 54px;
  height: 30px;
  max-height: 30px;
  width: 30px;
  max-width: 30px;
  transition: fill .1s linear;
}

.icon:last-child {
  margin: auto 0 45px 0;
}

.icon:hover {
  fill: #DA5380;
}

.header__categories {
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu__list {
  position: relative;
  border-bottom: 40px solid transparent;
}

.header__menu__drop {
  position: absolute;
  width: 300px;
  top: -9999em;
  left: 10px;
  opacity: 0;
  transition: opacity .2s linear;
}

.header__menu__list:last-child .header__menu__drop {
  left: -400%;
  text-align: right;
  overflow: visible;
}

.header__menu__list:hover .header__menu__drop {
  top: 40px;
  opacity: 1;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  transition: color .1s linear;
}

.nav__link:hover {
  color: #DA5380;
  text-decoration: none;
}

.nav__subcat {
  text-transform: capitalize;
  line-height: 2;
  color: #b5003c;
}
